.yt-control-panel {
    border: 2px solid #209fb5; /* sapphire */
    border-radius: 10px;
    padding: 16px;
    background-color: #eff1f5; /* base */
    margin: 16px 0px;
}
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.title {
    color: #4c4f69; /* text */
    margin: 0px;
    font-size: 1.8em;
    font-weight: bold;
    font-family: ariel, sans-serif;
}
.add-button {
    background-color: none;
    border: none;
    margin: 0;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.add-button img {
    width: 24px;
    height: 24px;
    filter: invert(48%) sepia(82%) saturate(463%) hue-rotate(71deg)
        brightness(96%) contrast(89%); /* Approximates #40a02b */
}
.add-button:hover img {
    filter: invert(48%) sepia(97%) saturate(463%) hue-rotate(152deg)
        brightness(91%) contrast(95%); /* Approximates #179299 */
}
.marks-container {
    margin-top: 24px;
}
.mark-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
}
.mark-item:first-child {
    margin-top: 0;
}
.mark-hotkey {
    border: 1px solid #bcc0cc;
    font-family: ariel, serif;
    background-color: #e6e9ef; /* mantle */
    color: #8839ef; /* mauve */
    padding: 4px;
    border-radius: 6px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-name {
    font-family: ariel, sans-serif;
    color: #4c4f69; /* text */
    flex-grow: 1;
    font-size: 1.2em;
}
.mark-timestamp {
    color: #1e66f5; /* blue */
    font-family: ariel, sans-serif;
    margin-right: 12px;
    font-size: 1.2em;
}
.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.edit-button img {
    width: 20px;
    height: 20px;
    filter: invert(57%) sepia(86%) saturate(1921%) hue-rotate(203deg)
        brightness(101%) contrast(96%); /* Approximates #7287fd */
}
.edit-button:hover img {
    filter: invert(42%) sepia(99%) saturate(7404%) hue-rotate(256deg)
        brightness(101%) contrast(98%); /* Approximates #8839ef */
}
